/* Định dạng chung */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, white, #030320); /* Nền gradient */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Hộp chứa form */
.login-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: #333;
    width: 100%;
    max-width: 400px;
    position: relative;
}

/* Nút quay lại ở góc trên trái */
.btn-login-back {
    position: absolute;
    top: 10px; /* Nằm trong box */
    left: 10px;
    background-color: #686879;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn-login-back:hover {
    background-color: #030320;
    text-decoration: none;
}

/* Tiêu đề */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Nhãn và ô nhập liệu */
label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 100%;  /* Điều chỉnh chiều rộng */
    padding: 12px; /* Tăng padding để tạo không gian rộng rãi hơn */
    margin-bottom: 15px; /* Khoảng cách dưới */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

/* Nút đăng nhập */
button.btn-login {
    background-color: #686879;
    color: white;
    padding: 12px 20px; /* Tăng padding cho nút */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;  /* Điều chỉnh chiều rộng cho nút */
}

button.btn-login:hover {
    background-color: #030320;
}

/* Đường link */
a {
    color: #1a1a3d;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

/* Thông báo lỗi */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}
